<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>GIBANK</title>
    <!-- Icon Head-->
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
</head>
<body>
  <section id="topo">
    <nav id="menu-h">
      <ul>
        <li id= "logo">
          GIBANK
        </li>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li><a href="http://localhost:3000/sobre">Sobre</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
    </nav>
    <header id="brand-description">
      <div id="disclaimer">
        <h2>GIBANK</h2>
        <p class="about-brand">
          O futuro é a razão que a gente faz planos.
        </p>
        <p class="brand-description_1">Escolha o futuro. Comece a controlar melhor sua vida financeira com o Gibank.</p>
      </div>
      <div id="subscription-form">
        <p>Peça sua conta e cartão de crédito do Gibank</p>
        <form action="/save_user_data" method="post">
          <div class="form-group">
            <input type="text" name="E-mail" placeholder="Digite seu e-mail">
            <input type="text" name="Senha" placeholder="Digite sua senha">
          </div>
          <input type="submit" class="btn" value="Continuar" style="border-radius: 15px;">
        </div>
      </form>
    </div>
  </header>
  <section id="brand-description_03">
    <div class="disclaimer_03">
      <h2>Cartão de Crédito</h2>
      <p class="about-brand_03">
        Pode chamar ele de amarelinho. Além disso, pode chamar ele de moderno, gratuito e prático também.
      </p>
      <a href="#">Saiba mais</a>
    </div>
    <div id="imagem">
      <%=image_tag("pngwing.com.png", height: 500, width: 500) %>
    </div>
  </section>
  <section id="section4">
    <div class="disclaimer_04">
      <h2>Conta do GIBANK</h2>
      <p class="about-brand_04">
        A conta que vai levar você ao controle da sua vida financeira.
      </p>
      <a href="#">Sem tarifas e sem complicações</a>
    </div>
    <div id="imagem_04">
      <%= image_tag("celular.png", height: 1000, width: 700)%>
    </div>
  </section>
  <section id="section5">
    <div class="disclaimer_05">
      <p class="about-brand_05">
        Nós acreditamos que só uma pessoa pode ter controle sobre sua vida financeira: você.
      </p>
      <a href="#">Saiba mais sobre como fazemos isso</a>
    </div>
  </section>
  <section id="section6">
    <div class="disclaimer_06">
      <p class="about-brand_06">
        GiCommunity<br>
        A comunidade oficial do GIBANK para você tirar dúvidas e compartilhar ideias.
      </p>
      <a href="#">Faça parte</a>
    </div>
  </section>
  <footer id="footer">
    <div class="footer_1">
      <h3>GIBANK</h3>
      <%= image_tag("gi.png", height: 140, width: 140)%>
    </div>
    <p><span>Acesse nossas redes sociais</span>&nbsp; <a class="socials" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a class="socials" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
    <p><span> Gi Pagamentos S.A - Instituição de Pagamento. xx.xxx.xxx/xxx-xx
        Rua Exemplo, 60 - Fortaleza, CE - xxxxx-xxx</span> / (85)x xxxx-xxxx</p>
    <p> &copy;<%= Date.current.year %> GIBANK </p>
    <div>&nbsp;</div>
  </footer>
  <!--Scripts-->
  <script src="https://kit.fontawesome.com/afaea16b5d.js" crossorigin="anonymous"></script>
</body>
</html>
