<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet/sobre_custom.css" media="screen" />
    <title>GIBANK</title>
      <!-- Icon Head-->
   
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
</head>
<body>
    <section id="topo">
        <nav id="menu-h">
    <ul>
      <li id= "logo">
        GIBANK  
      </li>
      <li>
        <a href="http://localhost:3000/home">
          Home
        </a>
      </li>

      <li><a href="#">Sobre</a></li>
            
      <li><a href="#">Quem Somos</a></li>
            
      <li><a href="#">Contato</a></li>
            
      <li><a href="#">Entrar</a></li>
    </ul>
  </nav>
  <header id="section_sobre_1">
        <div id="conteudo_sobre_1">
            <h2>GIBANK</h2>
            <p class="texto_sobre_1">
                Mas afinal, o que é o GIBANK?
            </p>
            <p class="sobre_1">O GIBANK é uma fintech, uma empresa de tecnologia que cria soluções para o mercado financeiro. Nós não somos um banco tradicional – na verdade, a gente nasceu para acabar justamente com a burocracia que atrapalha a vida de tantas pessoas.

Temos hoje mais de 40 milhões de clientes. Além da nossa sede em São Paulo, Brasil, temos escritórios em Berlim, (Alemanha) e Buenos Aires (Argentina), e operações no México e na Colômbia.

O Nubank não tem agências ou burocracia
Somos uma empresa digital e damos total poder para os clientes resolverem tudo pelo aplicativo. Se precisarem de ajuda, contam com uma equipe de atendimento disponível 24 horas por dia por chat, redes sociais, e-mail ou telefone.

Somos transparentes e não cobramos taxas abusivas
Nossos produtos são simples e fáceis de usar. Não temos letras miúdas escondendo informações, não temos tarifas escondidas ou pegadinhas nos nossos contratos.

Acreditamos em uma relação justa com nossos clientes. Damos total controle dos nossos produtos nas mãos dos usuários. Pelo app, é possível pedir um cartão, abrir uma conta, assinar nosso programa de benefícios… Ou cancelar todos esses produtos. Tudo de forma simples e rápida.

</p>
        </div>
        </div>
    </header>

    <footer id="footer">
        <div class="footer_1">
            <h3>GIBANK</h3>
            <%= image_tag("gi.png", height: 140, width: 140)%>
        </div>
        <p><span>Acesse nossas redes sociais</span>&nbsp; <a class="socials" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a class="socials" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
        <p><span> Gi Pagamentos S.A - Instituição de Pagamento. xx.xxx.xxx/xxx-xx
Rua Exemplo, 60 - Fortaleza, CE - xxxxx-xxx</span> / (85)x xxxx-xxxx</p>
        <p> &copy;<%= Date.current.year %> GIBANK </p>
    <div>&nbsp;</div>
    </footer>
    <!--Scripts-->
    <script src="https://kit.fontawesome.com/afaea16b5d.js" crossorigin="anonymous"></script>